{% extends "panel/oscary/base.html" %}
{% block title %}
{% if form.instance %}
Edytuj oscara {{ form.instance.id }}
{% else %}
Utwórz oscara
{% endif %}
{% endblock title %}
{% block body_navbar %}
{{ render_navbar(current_page='oscary') }}
{% endblock %}
{% block body_content %}
<main class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-2 border-4 border-eco-light-cyan">
            {{ render_oscary_sidebar(current_page='create_oscar') }}
        </div>
        <div
            class="col-12 col-lg-10 bg-dark scrollable-column d-flex justify-content-center align-items-center mt-5 mb-5">
            {% if form.instance.id %}
            {% call render_creation_model_form(
            form = form,
            action_url = url('panel:update_oscar', kwargs={'oscar_id':form.instance.id}),
            csrf_token = csrf_token,
            main_legend_text = 'Edytuj oscara nr ' ~ form.instance.id ,
            tips_legend_text = 'Reguły dodawania oscara',
            tips = tips
            ) %}
            <div class="mb-3">
                <label for="votingPlannedStart" class="form-label">Nazwa</label>
                <input name="name" type="text" class="text-based-input-form form-control" id="oscarName"
                    value="{{ form.instance.name }}" required>
            </div>
            <div class="mb-4">
                <label for="floatingTextarea2" class="form-label">Opis</label>
                <textarea class="form-control text-based-input-form" id="floatingTextarea2" style="height: 100px"
                    name="info" required>{{ form.instance.info }}</textarea>
            </div>
            {% endcall %}
            {% else %}
            {% call render_creation_model_form(
            form = form,
            action_url = url('panel:create_oscar'),
            csrf_token = csrf_token,
            main_legend_text = 'Dodaj oscara',
            tips_legend_text = 'Reguły dodawania oscara',
            tips = tips
            ) %}
            <div class="mb-3">
                <label for="votingPlannedStart" class="form-label">Nazwa</label>
                <input name="name" type="text" class="text-based-input-form form-control" id="oscarName" required>
            </div>
            <div class="mb-4">
                <label for="floatingTextarea2" class="form-label">Opis</label>
                <textarea class="form-control text-based-input-form" id="floatingTextarea2" style="height: 100px"
                    name="info" required></textarea>
            </div>
            {% endcall %}
            {% endif %}
        </div>
    </div>
</main>
<!-- Modal -->
{% with modal_csrf_token = csrf_token %}
{{ render_delete_modal(
warning_message = "Usunięcie oscara sprawi trwałe usunięcie oscara z systemu łącznie ze wszystkimi statystykami
i powiązanymi obiektami (kandydatury).",
id_field_name = "oscar_id",
target_url = url('panel:delete_oscar'),
is_htmx = False,
csrf_token = modal_csrf_token
) }}
{% endwith %}
<script>
    function renderRequiredLabelStar(parent) {
        parent.querySelectorAll('label + [required]').forEach(input => {
            const label = input.previousElementSibling;
            if (label && label.tagName.toLowerCase() === "label") {
                label.innerHTML += ' <span class="required-label-star" style="color: rgb(213, 13, 13)">*</span>';
            }
        });
    }
    function destroyRequiredLabelStar(parent) {
        parent.querySelectorAll('span.required-label-star').forEach(e => e.remove())
    }
    renderRequiredLabelStar(document)
</script>

{% endblock body_content %}