{% extends "panel/oscary/base.html" %}
{% block title %}
Oscary - lista wydarzeń
{% endblock title %}
{% block head_css_internal %}
{% endblock %}
{% block body_navbar %}
{{ render_navbar(current_page='oscary') }}
{% endblock %}
{% block body_content %}
<main class="container-fluid overflow-hidden">
    <div class="row overflow-hidden">
        <div class="col-12 col-lg-2 border-4 border-eco-light-cyan independent-scroll">
            {{ render_oscary_sidebar(current_page='events_list') }}
        </div>
        <div class="col-12 col-lg-10 bg-dark scrollable-column independent-scroll">
            <div class="card mt-3 mt-lg-4 bg-black bg-opacity-25 border-gray shadow-lg">
                <div class="card-body">
                    <form method="get" class="row g-3" id="filterForm"
                        hx-get="{{ url('panel:partial_list_voting_events') }}" hx-target="#table-container"
                        hx-trigger="change, keyup delay:300ms from:input, click from:.form-dropdown-item, click from:.form-dropdown-toggle-item, submit"
                        hx-push-url="false" hx-indicator="#tableSpinner">
                        <div class="col-6 col-sm-3">
                            <label for="sort" class="form-label text-light">Sortuj według:</label>
                            <select name="sort_by" id="sort" class="form-select">
                                {% for sort_option in form.fields['sort_by'].choices %}
                                <option value="{{ sort_option[0] }}">{{ sort_option[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6 col-sm-3">
                            <label for="order" class="form-label text-light">Kolejność:</label>
                            <select name="sort_order" id="order" class="form-select">
                                <option value="asc">↑ Rosnąco</option>
                                <option value="desc">↓ Malejąco</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-3">
                            <label for="statusFilter" class="form-label text-light">Filtr statusu:</label>
                            <div class="btn-group d-block" id="statusFilter">
                                <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button"
                                    data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                    Rodzaje statusu
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-eco-light-cyan"
                                        id="statusFiltrBadge" style="display: none;">
                                        <span id="statusFiltrCounter">2</span>
                                        <span class="visually-hidden">Aktywne filtry</span>
                                    </span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for element in status_list %}
                                    <li><button class="dropdown-item form-dropdown-item" type="button"
                                            data-bs-toggle="button" btn-data="{{ element }}" value="{{ element }}">{{
                                            element }}</button></li>
                                    {% endfor %}
                                </ul>
                                <input type="text" hidden id="statusInput" name="event_status" value="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <label for="nominationsFilter" class="form-label text-light">Filtr nominacji:</label>
                            <div class="btn-group d-block" id="nominationsFilter">
                                <button class="btn btn-secondary dropdown-toggle w-100 text-start" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Zawiera nominacje
                                    <span
                                        class="position-absolute top-0 start-100 p-2 translate-middle rounded-circle bg-eco-light-cyan"
                                        id="nominationsFiltrBadge" style="display: none;">
                                        <span class="visually-hidden">Aktywne filtry</span>
                                    </span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for element in nominations_choices %}
                                    <li><button class="dropdown-item form-dropdown-toggle-item" type="button"
                                            btn-data="{{ element[0] }}" value="{{ element[0] }}">{{
                                            element[1] }}</button></li>
                                    {% endfor %}
                                </ul>
                                <input type="text" hidden id="nominationsInput" name="nominations" value="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Tabela głosowań -->
            <div class="col-12 d-flex justify-content-center pt-3">
                <div class="spinner-border htmx-indicator" role="status" id="tableSpinner">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div id="table-container"
                hx-get="{{ url('panel:partial_list_voting_events') }}?{{ request.GET.urlencode() }}" hx-trigger="load"
                hx-target="#table-container" hx-swap="innerHTML" hx-indicator="#tableSpinner">

            </div>
        </div>
    </div>
</main>
<!-- Modal -->
{% with modal_csrf_token = csrf_token %}
{{ render_delete_modal(
warning_message = "Usunięcie wydarzenia sprawi trwałe usunięcie wydarzenia z systemu łącznie ze wszystkimi statystykami
i powiązanymi obiektami (rundy głosowań, kandydatury, głosy).",
id_field_name = "voting_event_id",
target_url = url('panel:delete_voting_event'),
is_htmx = True,
csrf_token = modal_csrf_token
) }}
{% endwith %}
<script>
    let statusFilterCounter = 0
    const statusBadge = document.getElementById('statusFiltrBadge')
    const statusCounterElement = document.getElementById('statusFiltrCounter')
    const statusInput = document.getElementById('statusInput')
    const statusInputValues = new Object()
    document.getElementById('statusFilter').querySelectorAll('button[btn-data]').forEach(e => {
        e.addEventListener('click', event => {
            if (event.target.classList.contains('active')) {
                statusFilterCounter++
                statusInputValues[event.target.value] = event.target.value
            } else {
                statusFilterCounter--
                delete statusInputValues[event.target.value]
            }
            statusInput.value = Object.values(statusInputValues).join(',')
            statusCounterElement.innerText = statusFilterCounter
            if (statusFilterCounter > 0) {
                statusBadge.style.display = 'inline-block'
            } else {
                statusBadge.style.display = 'none'
            }
        })
    })
    let nominationsFilterCounter = 0
    const nominationsBadge = document.getElementById('nominationsFiltrBadge')
    const nominationsCounterElement = document.getElementById('nominationsFiltrCounter')
    const nominationsInput = document.getElementById('nominationsInput')
    document.getElementById('nominationsFilter').querySelectorAll('button[btn-data]').forEach(e => {
        e.addEventListener('click', event => {
            if (event.target.classList.contains('active')) {
                nominationsBadge.style.display = 'none'
                nominationsInput.value = ''
            } else {
                nominationsBadge.style.display = 'inline-block'
                nominationsInput.value = event.target.value
            }
            console.log(nominationsInput.value)
        })
    })
    document.querySelectorAll('.form-dropdown-toggle-item').forEach(btn => {
        btn.addEventListener('click', () => {
            const isActive = btn.classList.contains('active');
            document.querySelectorAll('.form-dropdown-toggle-item').forEach(b => b.classList.remove('active'));
            if (!isActive) {
                btn.classList.add('active');
            }
        });
    });
</script>
{% endblock body_content %}