{% extends "panel/samorzad/samorzad_base.html" %}
{% block title %}
    Samorząd - lista głosowań
{% endblock title %}
{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ static('css/multi-part-form.css') }}">
{% endblock head_css %}
{% block head_css_internal %}
{{ super() }}
.tox-tinymce{
    border:none !important;
}
{% endblock head_css_internal %}
{% block body_js %}
{{ super() }}
<script defer src="{{ static('js/multi-part-form.js') }}"></script>
<script src="https://cdn.tiny.cloud/1/wu3mahz36snoy2t3ukd4ma8ueuy30x5jv1lbxdofua98dvmo/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock body_js %}
{% block body_navbar %}
    {{ render_navbar(csrf_input, current_page='samorząd') }}
{% endblock %}
{% block body_content %}
<style>
</style>
<main class="container-fluid overflow-hidden">
        <div class="row overflow-hidden">
            <div class="col-12 col-md-3 col-lg-2 border-4 border-eco-light-cyan independent-scroll">
                <ul class="nav flex-row flex-md-column">
                    <li class="nav-item dropdown">
                        <a class="nav-link link-eco-light-cyan dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Lista</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url('panel:samorzad_index') }}">Głosowań</a></li>
                            <li><a class="dropdown-item" href="#">Kandydatów</a></li>
                            <li><a class="dropdown-item" href="#">Kandydatur</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-eco-light-cyan" href="{{ url('panel:samorzad_add_empty_voting') }}">Dodaj głosowanie</a>
                    </li>
                    <hr class="d-none d-md-block m-2">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link link-eco-light-cyan" href="{{ url('panel:samorzad_add_candidate') }}">Dodaj kandydata</a>
                    </li>
                    <li class="nav-item dropdown d-block d-md-none">
                        <a class="nav-link active link-eco-light-cyan dropdown-toggle" aria-current="page" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Kandydaci</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url('panel:samorzad_add_candidate') }}">Dodaj kandydata</a></li>
                            <li><a class="dropdown-item" href="{{ url('panel:samorzad_add_candidature') }}">Dodaj kandydature</a></li>
                        </ul>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link active link-eco-light-cyan" aria-current="page" href="{{ url('panel:samorzad_add_candidature') }}">Dodaj kandydature</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-9 col-lg-10 bg-dark scrollable-column d-flex justify-content-center flex-row independent-scroll">
                <form data-step-form class="multi-step-form flex-fill ms-md-5 me-md-5" action="{{ url('panel:samorzad_add_candidature') }}" method="post">
                     <fieldset data-step="0" class="mt-5 ms-sm-5 me-sm-5 bg-black bg-opacity-25 ps-5 pe-5 pt-4 pb-4 border border-2 border-eco-light-cyan rounded-3 no-animation">
                        <legend class="mb-3 text-eco-light-cyan">Dane kandydatury</legend>
                            <div class="mb-3">
                                <select name="voting" class="form-select" aria-label="selektor głosowań" id="votingSelector" required>
                                    <option value="" selected disabled hidden>Wybierz głosowanie</option>
                                    {% for v in votings %}
                                        <option value="{{ v.pk }}">Głosowanie rozpoczynające się o: {{ v.parse_planned_start().strftime('%d.%m.%Y') }}</option>
                                    {% endfor %}
                                </select>
                                <div id="votingSelector" class="form-text">Możesz wybrać tylko przyszłe głosowania</div>
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                                        </svg>
                                    </span>
                                    <input 
                                    class="form-control" 
                                    id="candidatesSearch" 
                                    placeholder="Poszukaj kandydatów..."
                                    name="search"
                                    hx-get="{{ url('panel:partial_candidates_search') }}"
                                    hx-trigger="keyup delay:250ms"
                                    hx-target="#selectCanidatePlaceholder"
                                    required
                                    >
                                </div>
                                <div class="form-text">Podaj imię, drugie imię i nazwisko</div>
                            </div>
                        <div id="selectCanidatePlaceholder">
                            {% include "panel/samorzad/partials/candidates_select.html" %}
                        </div>
                        <div class="form-check mb-3">
                            <input name="is_eligible" class="form-check-input" type="checkbox" value="" id="checkChecked" checked>
                            <label class="form-check-label" for="checkChecked">
                                Kandydatura zezwolona
                            </label>
                        </div>
                        <div class="mb-3 d-flex justify-content-around">
                            <button type="button" class="opacity-0" disabled></button>
                            <button type="button" data-next class="btn btn-outline-eco-light-cyan w-25">Dalej</button>
                        </div>
                    </fieldset>
                    <fieldset data-step="1" class="mt-5 ms-sm-5 me-sm-5 bg-black bg-opacity-25 ps-5 pe-5 pt-4 pb-4 border border-2 border-eco-light-cyan rounded-3 hide">
                        <legend class="mb-3 text-eco-light-cyan">Program wyborczy</legend>
                        <div class="mb-4">
                            <label class="mb-2" for="id_content">Użyj poniższego edytora żeby wstawić program wyborczy.</label>
                            <textarea id="id_content" name="electoral_program-0-info"></textarea>
                        </div>
                        <div class="mb-3 d-flex justify-content-around">
                            <button type="button" data-prev class="btn btn-outline-eco-light-cyan w-25">Cofnij</button>
                            {{ csrf_input }}
                            <input type="hidden" name="electoral_program-TOTAL_FORMS" value="1">
                            <input type="hidden" name="electoral_program-INITIAL_FORMS" value="0">
                            <button type="submit" class="btn btn-eco-light-cyan w-25">Wyślij</button>
                        </div>
                    </fieldset>
                </form>
                <div class="my-3 my-md-0"></div>
                <div class="my-5"></div>
            </div>
        </div>
    </main>
    <script>
        document.querySelectorAll("label + input[required]").forEach(input => {
            const label = input.previousElementSibling;
            if (label && label.tagName.toLowerCase() === "label") {
                label.innerHTML += ' <span style="color: rgb(213, 13, 13)">*</span>';
            }
            });
    </script>
    <script>
        tinymce.init({
        selector: '#id_content',
        height: 500,
        menubar: true,
        plugins: 'lists advlist autolink charmap preview searchreplace wordcount visualblocks fullscreen code',
        toolbar: [
            'undo redo |',                   // Cofnij, ponów
            'bold italic underline strikethrough |',  // Pogrubienie, kursywa, podkreślenie, przekreślenie
            'blockquote |',                  // Cytat
            'bullist numlist |',             // Lista punktowana, numerowana
            'outdent indent |',              // Zmniejsz/zwieksz wcięcie
            'removeformat |',                // Usuń formatowanie
        ].join(' '),
        skin: 'oxide-dark',
        content_css: 'dark',
        branding: false,
        resize: true,
        onboarding: false,
        language: 'pl',  // tutaj ustaw polski język
        language_url: '{{ static("tinymce/langs/pl.js") }}',  // ścieżka do pliku językowego
        });
    </script>
{% endblock body_content %}