{% extends "panel/samorzad/samorzad_base.html" %}
{% block title %}
{% if form.instance.pk %}
Samorząd - edytuj kandydata nr {{ form.instance.id }}
{% else %}
Samorząd - dodaj kandydata
{% endif %}
{% endblock title %}
{% block body_navbar %}
{{ render_navbar(current_page='samorząd') }}
{% endblock %}
{% block body_content %}
<main class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-2 border-4 border-eco-light-cyan">
            {{ render_samorzad_sidebar(current_page='add_candidate') }}
        </div>
        <div class="mt-5 col-12 col-lg-10 bg-dark scrollable-column d-flex align-items-center flex-column">
            {% if form.instance.id %}
            {% call render_creation_model_form(
            form = form,
            action_url = url('panel:update_candidate', kwargs={'candidate_id':form.instance.id}),
            csrf_token = csrf_token,
            main_legend_text = 'Edytuj kandydata ' ~ form.instance.id ,
            tips_legend_text = 'Reguły dodawania kandydata',
            tips = tips
            ) %}
            <div class="mb-3">
                <label for="firstName" class="form-label">Imię</label>
                <input name="first_name" type="text" class="form-control text-based-input-form" id="firstName" required
                    value="{{ form.instance.first_name }}">
            </div>
            <div class="mb-3">
                <label for="secondName" class="form-label">Drugie imię</label>
                <input name="second_name" type="text" class="form-control text-based-input-form" id="secondName"
                    value="{{ form.instance.second_name }}">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Nazwisko</label>
                <input name="last_name" type="text" class="form-control text-based-input-form" id="lastName" required
                    value="{{ form.instance.last_name }}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="imageInput">Zdjęcie kandydata: 400x400, max 2MB</label>
                <input name="image" accept="image" type="file" class="form-control text-based-input-form
                    id="imageInput" onchange="loadFile(event)">
                <img id="imagePreviewPlaceholder"
                    src="{% if form.instance.image %} {{ form.instance.image.url }} {% endif %}" alt="Aktualny obraz"
                    class="img-thumbnail my-2" style="max-height: 200px;" hidden>
            </div>
            <div class="mb-4">
                <label for="schoolClass" class="form-label">Klasa (np: 5 TE)</label>
                <input name="school_class" type="text" class="form-control text-based-input-form" id="schoolClass"
                    required value="{{ form.instance.school_class }}">
            </div>
            {% endcall %}
            {% else %}
            {% call render_creation_model_form(
            form = form,
            action_url = url('panel:samorzad_add_candidate'),
            csrf_token = csrf_token,
            main_legend_text = 'Dodaj kandydata',
            tips_legend_text = 'Reguły dodawania kandydata',
            tips = tips
            ) %}
            <div class="mb-3">
                <label for="firstName" class="form-label">Imię</label>
                <input name="first_name" type="text" class="form-control text-based-input-form" id="firstName"
                    required>
            </div>
            <div class="mb-3">
                <label for="secondName" class="form-label">Drugie imię</label>
                <input name="second_name" type="text" class="form-control text-based-input-form" id="secondName">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Nazwisko</label>
                <input name="last_name" type="text" class="form-control text-based-input-form" id="lastName" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="imageInput">Zdjęcie kandydata: 400x400, max 2MB</label>
                <input name="image" accept="image" type="file" class="form-control text-based-input-form"
                    id="imageInput" onchange="loadFile(event)">
                <img id="imagePreviewPlaceholder" src="" alt="Aktualny obraz" class="img-thumbnail my-2"
                    style="max-height: 200px;" hidden>
            </div>
            <div class="mb-4">
                <label for="schoolClass" class="form-label">Klasa (np: 5 TE)</label>
                <input name="school_class" type="text" class="form-control text-based-input-form" id="schoolClass"
                    required>
            </div>
            {% endcall %}
            {% endif %}
        </div>
    </div>
</main>
<!-- Modal -->
{% with modal_csrf_token = csrf_token %}
{{ render_delete_modal(
warning_message = "Usunięcie kandydata sprawi trwałe usunięcie kandydata z systemu łącznie ze wszystkimi statystykami
i powiązanymi obiektami (kandydatury, głosy).",
id_field_name = "candidate_id",
target_url = url('panel:delete_candidate'),
is_htmx = False,
csrf_token = modal_csrf_token
) }}
{% endwith %}
<script>
    document.querySelectorAll("label + input[required]").forEach(input => {
        const label = input.previousElementSibling;
        if (label && label.tagName.toLowerCase() === "label") {
            label.innerHTML += ' <span style="color: rgb(213, 13, 13)">*</span>';
        }
    });
</script>
<script>
    var loadFile = function (event) {
        var output = document.getElementById('imagePreviewPlaceholder');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.removeAttribute('hidden')
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
{% endblock body_content %}