{% extends "panel/samorzad/samorzad_base.html" %}
{% block title %}
    Samorząd - lista głosowań
{% endblock title %}
{% block body_navbar %}
    {{ render_navbar(current_page='samorząd') }}
{% endblock %}
{% block body_content %}
<main class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-2 border-4 border-eco-light-cyan">
            {{ render_samorzad_sidebar(current_page='add_voting') }}
            </div>
            <div class="col-12 col-lg-10 bg-dark scrollable-column d-flex justify-content-center align-items-center mt-5">
                {% if form.instance.pk %}
                <form class="bg-black bg-opacity-25 border rounded shadow-lg p-4 flex-shrink-1 w-100" style="max-width: 750px;" action="{{ url('panel:update_voting', kwargs={'voting_id':form.instance.pk}) }}" method="post">
                    <legend class="mb-3 text-eco-light-cyan">Edytuj głosowanie</legend>
                    <div class="mb-3">
                        <label for="votingPlannedStart" class="form-label">Data rozpoczęcia</label>
                        <input name="planned_start" type="datetime-local" class="form-control bg-black bg-opacity-25" id="votingPlannedStart" required value="{{ form.instance.parse_planned_start().strftime('%Y-%m-%d %H:%M') }}">
                    </div>
                    <div class="mb-3">
                        <label for="votingPlannedEnd" class="form-label">Data zakończenia</label>
                        <input name="planned_end" type="datetime-local" class="form-control bg-black bg-opacity-25" id="votingPlannedEnd" required value="{{ form.instance.parse_planned_end().strftime('%Y-%m-%d %H:%M') }}">
                    </div>
                    <div class="mb-4">
                        <label for="votingVotesPerUser" class="form-label">Ilość głosów do oddania</label>
                        <input name="votes_per_user" type="number" class="form-control bg-black bg-opacity-25 w-25" id="votingVotesPerUser" required value="{{ form.instance.votes_per_user }}">
                    </div>
                    {% csrf_token %}
                    <div class="d-flex flex-lg-row flex-column gap-1 gap-lg-none">
                        <div class="col-12 col-lg-10 d-flex flex-lg-row flex-column justify-content-lg-start gap-lg-3 gap-1">
                            <button type="submit" class="btn btn-outline-eco-light-cyan" name="redirect_to" value="list">Zapisz</button>
                            <button type="submit" class="btn btn-outline-eco-light-cyan" name="redirect_to" value="add_new">Zapisz i dodaj nowe</button>
                            <button type="submit" class="btn btn-outline-eco-light-cyan" name="redirect_to" value="edit">Zapisz i kontynuuj edycję</button>
                        </div>
                        <div class="col-12 col-lg-2 d-flex flex-lg-row flex-column justify-content-end">
                            <button type="button" btn-type="delete" btn-data="{{ form.instance.pk }}" class="btn btn-sm btn-outline-danger">Usuń</button>                            
                        </div>
                    </div>
                </form>
                {% else %}
                <form class="bg-black bg-opacity-25 border rounded shadow-lg p-4 flex-shrink-1 w-100" style="max-width: 750px;" action="{{ url('panel:samorzad_add_empty_voting') }}" method="post">
                    <legend class="mb-3 text-eco-light-cyan">Dodaj głosowanie</legend>
                    <div class="mb-3">
                        <label for="votingPlannedStart" class="form-label">Data rozpoczęcia</label>
                        <input name="planned_start" type="datetime-local" class="form-control bg-black bg-opacity-25" id="votingPlannedStart" required>
                    </div>
                    <div class="mb-3">
                        <label for="votingPlannedEnd" class="form-label">Data zakończenia</label>
                        <input name="planned_end" type="datetime-local" class="form-control bg-black bg-opacity-25" id="votingPlannedEnd" required>
                    </div>
                    <div class="mb-4">
                        <label for="votingVotesPerUser" class="form-label">Ilość głosów do oddania</label>
                        <input name="votes_per_user" type="number" class="form-control bg-black bg-opacity-25 w-25" id="votingVotesPerUser" required>
                    </div>
                    {% csrf_token %}
                    <div class="d-flex flex-lg-row flex-column gap-1 gap-lg-none">
                        <div class="col-12 col-lg-10 d-flex flex-lg-row flex-column justify-content-lg-start gap-lg-3 gap-1">
                            <button type="submit" class="btn btn-outline-eco-light-cyan" name="redirect_to" value="list">Zapisz</button>
                            <button type="submit" class="btn btn-outline-eco-light-cyan" name="redirect_to" value="add_new">Zapisz i dodaj nowe</button>
                            <button type="submit" class="btn btn-outline-eco-light-cyan" name="redirect_to" value="edit">Zapisz i kontynuuj edycję</button>
                        </div>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </main>
        <!-- Modal -->
    <div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-danger" id="warningModalLabel">Uwaga</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Usunięcie głosowania sprawi trwałe usunięcie głosowania z systemu łącznie ze wszystkimi statystykami. <br>
                <span class="text-danger fw-bold text-decoration-underline">
                    Operacji nie można cofnąć.
                </span>
            </div>
            <div class="modal-footer">
                <form action="{{ url('panel:delete_voting') }}" method="post">
                    <input hidden type="number" name="voting_id" id="votingIdInput">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Usuń</button>
                </form>
            </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll("label + input[required]").forEach(input => {
            const label = input.previousElementSibling;
            if (label && label.tagName.toLowerCase() === "label") {
                label.innerHTML += ' <span style="color: rgb(213, 13, 13)">*</span>';
            }
            });
    </script>
    <script>
        const warningModal = new bootstrap.Modal(document.getElementById('warningModal'))
        const votingIdInput = document.getElementById('votingIdInput')
        document.querySelectorAll('button[btn-type="delete"]').forEach(btn=>{
            btn.addEventListener('click', (e)=>{
                warningModal.show()
                votingIdInput.value = Number(e.currentTarget.getAttribute('btn-data'))
            })
        })
    </script>
{% endblock body_content %}