{% extends "panel/samorzad/samorzad_base.html" %}
{% block title %}
{% if form.instance.pk %}
Samorząd - edytuj głosowanie nr {{ form.instance.id }}
{% else %}
Samorząd - dodaj głosowanie
{% endif %}
{% endblock title %}
{% block body_navbar %}
{{ render_navbar(current_page='samorząd') }}
{% endblock %}
{% block body_content %}
<main class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-2 border-4 border-eco-light-cyan">
            {{ render_samorzad_sidebar(current_page='add_voting') }}
        </div>
        <div class="col-12 col-lg-10 bg-dark scrollable-column d-flex justify-content-center align-items-center mt-5">
            {% if form.instance.id %}
            {% call render_creation_model_form(
            form = form,
            action_url = url('panel:update_voting', kwargs={'voting_id':form.instance.id}),
            csrf_token = csrf_token,
            main_legend_text = 'Edytuj głosowanie nr' ~ form.instance.id ,
            tips_legend_text = 'Reguły dodawania głosowania',
            tips = tips
            ) %}
            <div class="mb-3">
                <label for="votingPlannedStart" class="form-label">Data rozpoczęcia</label>
                <input name="planned_start" type="datetime-local" class="form-control text-based-input-form"
                    id="votingPlannedStart" required
                    value="{{ form.instance.parse_planned_start().strftime('%Y-%m-%d %H:%M') }}">
            </div>
            <div class="mb-3">
                <label for="votingPlannedEnd" class="form-label">Data zakończenia</label>
                <input name="planned_end" type="datetime-local" class="form-control text-based-input-form"
                    id="votingPlannedEnd" required
                    value="{{ form.instance.parse_planned_end().strftime('%Y-%m-%d %H:%M') }}">
            </div>
            <div class="mb-4">
                <label for="votingVotesPerUser" class="form-label">Ilość głosów do oddania</label>
                <input name="votes_per_user" type="number" class="form-control text-based-input-form"
                    id="votingVotesPerUser" required value="{{ form.instance.votes_per_user }}">
            </div>
            {% endcall %}
            {% else %}
            {% call render_creation_model_form(
            form = form,
            action_url = url('panel:samorzad_add_empty_voting'),
            csrf_token = csrf_token,
            main_legend_text = 'Dodaj głosowanie',
            tips_legend_text = 'Reguły dodawania głosowania',
            tips = tips
            ) %}
            <div class="mb-3">
                <label for="votingPlannedStart" class="form-label">Data rozpoczęcia</label>
                <input name="planned_start" type="datetime-local" class="form-control text-based-input-form"
                    id="votingPlannedStart" required>
            </div>
            <div class="mb-3">
                <label for="votingPlannedEnd" class="form-label">Data zakończenia</label>
                <input name="planned_end" type="datetime-local" class="form-control text-based-input-form"
                    id="votingPlannedEnd" required>
            </div>
            <div class="mb-4">
                <label for="votingVotesPerUser" class="form-label">Ilość głosów do oddania</label>
                <input name="votes_per_user" type="number" class="form-control text-based-input-form"
                    id="votingVotesPerUser" required>
            </div>
            {% endcall %}
            {% endif %}
        </div>
    </div>
</main>
<!-- Modal -->
{% with modal_csrf_token = csrf_token %}
{{ render_delete_modal(
warning_message = "Usunięcie głosowania sprawi trwałe usunięcie głosowania z systemu łącznie ze wszystkimi statystykami
i powiązanymi obiektami (kandydatury, głosy).",
id_field_name = "voting_id",
target_url = url('panel:delete_voting'),
is_htmx = False,
csrf_token = modal_csrf_token
) }}
{% endwith %}
<script>
    document.querySelectorAll("label + input[required]").forEach(input => {
        const label = input.previousElementSibling;
        if (label && label.tagName.toLowerCase() === "label") {
            label.innerHTML += ' <span style="color: rgb(213, 13, 13)">*</span>';
        }
    });
</script>
{% endblock body_content %}