{% extends "panel/samorzad/samorzad_base.html" %}
{% block title %}
    Samorząd - lista głosowań
{% endblock title %}
{% block body_navbar %}
    {{ render_navbar(csrf_input, current_page='samorząd') }}
{% endblock %}
{% block body_content %}
<main class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2 border-4 border-eco-light-cyan">
                <ul class="nav flex-row flex-md-column">
                    <li class="nav-item dropdown">
                        <a class="nav-link link-eco-light-cyan dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Lista</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url('panel:samorzad_index') }}">Głosowań</a></li>
                            <li><a class="dropdown-item" href="{{ url('panel:list_candidates') }}">Kandydatów</a></li>
                            <li><a class="dropdown-item" href="{{ url('panel:list_candidatures') }}">Kandydatur</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active link-eco-light-cyan" href="{{ url('panel:samorzad_add_empty_voting') }}" aria-current="page">Dodaj głosowanie</a>
                    </li>
                    <hr class="d-none d-md-block m-2">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link link-eco-light-cyan" href="{{ url('panel:samorzad_add_candidate') }}">Dodaj kandydata</a>
                    </li>
                    <li class="nav-item dropdown d-block d-md-none">
                        <a class="nav-link link-eco-light-cyan dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Kandydaci</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url('panel:samorzad_add_candidate') }}">Dodaj kandydata</a></li>
                            <li><a class="dropdown-item" href="{{ url('panel:samorzad_add_candidature') }}">Dodaj kandydature</a></li>
                        </ul>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link link-eco-light-cyan" href="{{ url('panel:samorzad_add_candidature') }}">Dodaj kandydature</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-9 col-lg-10 bg-dark scrollable-column d-flex align-items-center flex-column">
                {% if form.instance.pk %}
                <form class="mt-5 bg-black bg-opacity-25 ps-5 pe-5 pt-4 pb-4 border border-2 border-eco-light-cyan rounded-3 w-75 mb-5" action="{{ url('panel:update_voting', kwargs={'voting_id':form.instance.pk}) }}" method="post">
                    <legend class="mb-3 text-eco-light-cyan">Edytuj głosowanie</legend>
                    <div class="mb-3">
                        <label for="votingPlannedStart" class="form-label">Data rozpoczęcia</label>
                        <input name="planned_start" type="datetime-local" class="form-control bg-black bg-opacity-25" id="votingPlannedStart" required value="{{ form.instance.parse_planned_start().strftime('%Y-%m-%d %H:%M') }}">
                    </div>
                    <div class="mb-3">
                        <label for="votingPlannedEnd" class="form-label">Data zakończenia</label>
                        <input name="planned_end" type="datetime-local" class="form-control bg-black bg-opacity-25" id="votingPlannedEnd" required value="{{ form.instance.parse_planned_end().strftime('%Y-%m-%d %H:%M') }}">
                    </div>
                    <div class="mb-4">
                        <label for="votingVotesPerUser" class="form-label">Ilość głosów do oddania</label>
                        <input name="votes_per_user" type="number" class="form-control bg-black bg-opacity-25 w-25" id="votingVotesPerUser" required value="{{ form.instance.votes_per_user }}">
                    </div>
                    {{ csrf_input }}    
                    <div class="mb-4 d-flex flex-lg-row flex-column gap-1 gap-lg-none">
                        <div class="col-12 col-lg-10 d-flex flex-lg-row flex-column justify-content-lg-start gap-lg-3 gap-1">
                            <button type="submit" class="btn btn-outline-eco-light-cyan" name="redirect_to" value="list">Zapisz</button>
                            <button type="submit" class="btn btn-outline-eco-light-cyan" name="redirect_to" value="add_new">Zapisz i dodaj nowego</button>
                            <button type="submit" class="btn btn-outline-eco-light-cyan" name="redirect_to" value="edit">Zapisz i kontynuuj edycję</button>
                        </div>
                        <div class="col-12 col-lg-2 d-flex flex-lg-row flex-column justify-content-end">
                            <button type="button" btn-type="delete" btn-data="{{ form.instance.pk }}" class="btn btn-sm btn-outline-danger">Usuń</button>                            
                        </div>
                    </div>
                </form>
                {% else %}
                <form class="mt-5 bg-black bg-opacity-25 ps-5 pe-5 pt-4 pb-4 border border-2 border-eco-light-cyan rounded-3 w-75 mb-5" action="{{ url('panel:samorzad_add_empty_voting') }}" method="post">
                    <legend class="mb-3 text-eco-light-cyan">Dodaj głosowanie</legend>
                    <div class="mb-3">
                        <label for="votingPlannedStart" class="form-label">Data rozpoczęcia</label>
                        <input name="planned_start" type="datetime-local" class="form-control bg-black bg-opacity-25" id="votingPlannedStart" required>
                    </div>
                    <div class="mb-3">
                        <label for="votingPlannedEnd" class="form-label">Data zakończenia</label>
                        <input name="planned_end" type="datetime-local" class="form-control bg-black bg-opacity-25" id="votingPlannedEnd" required>
                    </div>
                    <div class="mb-4">
                        <label for="votingVotesPerUser" class="form-label">Ilość głosów do oddania</label>
                        <input name="votes_per_user" type="number" class="form-control bg-black bg-opacity-25 w-25" id="votingVotesPerUser" required>
                    </div>
                    {{ csrf_input }}
                    <div class="mb-4 d-flex flex-lg-row flex-column gap-1 gap-lg-none">
                        <div class="col-12 col-lg-10 d-flex flex-lg-row flex-column justify-content-lg-start gap-lg-3 gap-1">
                            <button type="submit" class="btn btn-outline-eco-light-cyan" name="redirect_to" value="list">Zapisz</button>
                            <button type="submit" class="btn btn-outline-eco-light-cyan" name="redirect_to" value="add_new">Zapisz i dodaj nowego</button>
                            <button type="submit" class="btn btn-outline-eco-light-cyan" name="redirect_to" value="edit">Zapisz i kontynuuj edycję</button>
                        </div>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </main>
        <!-- Modal -->
    <div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-danger" id="warningModalLabel">Uwaga</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Usunięcie głosowania sprawi trwałe usunięcie głosowania z systemu łącznie ze wszystkimi statystykami. <br>
                <span class="text-danger fw-bold text-decoration-underline">
                    Operacji nie można cofnąć.
                </span>
            </div>
            <div class="modal-footer">
                <form action="{{ url('panel:delete_voting') }}" method="post">
                    <input hidden type="number" name="voting_id" id="votingIdInput">
                    {{ csrf_input }}
                    <button type="submit" class="btn btn-danger">Usuń</button>
                </form>
            </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll("label + input[required]").forEach(input => {
            const label = input.previousElementSibling;
            if (label && label.tagName.toLowerCase() === "label") {
                label.innerHTML += ' <span style="color: rgb(213, 13, 13)">*</span>';
            }
            });
    </script>
    <script>
        const warningModal = new bootstrap.Modal(document.getElementById('warningModal'))
        const votingIdInput = document.getElementById('votingIdInput')
        document.querySelectorAll('button[btn-type="delete"]').forEach(btn=>{
            btn.addEventListener('click', (e)=>{
                warningModal.show()
                votingIdInput.value = Number(e.currentTarget.getAttribute('btn-data'))
            })
        })
    </script>
{% endblock body_content %}