<!-- Tabela kandydatów -->
<div class="card mt-3 bg-black bg-opacity-25 border-gray flex-grow-1 d-flex flex-column shadow-lg">
    <div class="card-body p-0 flex-grow-1 d-flex flex-column">
        <div class="table-responsive table-container">
            <table class="table table-dark table-striped table-hover mb-0 table-fixed">
                <colgroup>
                    <col style="width: 10%;">
                    <col style="width: 14%;">
                    <col style="width: 18%;">
                    <col style="width: 14%;">
                    <col style="width: 14%;">
                    <col style="width: 14%;">
                    <col style="width: 16%;">
                </colgroup>
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center align-middle">ID</th>
                        <th scope="col" class="text-center align-middle">Zdjęcie</th>
                        <th scope="col" class="text-center align-middle">Imię i nazwisko</th>
                        <th scope="col" class="text-center align-middle">Klasa</th>
                        <th scope="col" class="text-center align-middle">Data utworzenia</th>
                        <th scope="col" class="text-center align-middle">Data edycji</th>
                        <th scope="col" class="text-center align-middle">Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {% if page_obj %}
                    {% for c in page_obj %}
                    <tr>
                        <td class="text-center align-middle">
                            <span>{{ c.id }}</span>
                        </td>
                        <td class="text-center align-middle">
                            {% if c.image %}
                            <img src="{{ c.image.url }}" class="candidate-avatar" alt="kandydat">
                            {% else %}
                            <img src="{{ static('no-pfp.jpg') }}" class="candidate-avatar" alt="kandydat">
                            {% endif %}
                        </td>
                        <td class="text-center align-middle">
                            <span>{{ c.first_name }} {{ c.second_name }} {{ c.last_name }}</span>
                        </td>
                        <td class="text-center align-middle">
                            <span>{{ c.school_class }}</span>
                        </td>
                        <td class="text-center align-middle">
                            <span class="small">{{ c.parse_created_at().strftime('%d.%m.%Y') }}</span>
                        </td>
                        <td class="text-center align-middle">
                            <span class="small">
                                {% if c.created_at != c.updated_at%}
                                {{ c.parse_updated_at().strftime('%d.%m.%Y') }}
                                {% else %}
                                -
                                {% endif %}
                            </span>
                        </td>
                        <td class="text-center align-middle">
                            <a href="{{ url('panel:update_candidate', kwargs={'candidate_id':c.pk}) }}"
                                class="btn btn-sm btn-outline-eco-light-cyan">Edytuj</a>
                            <button btn-type="delete" btn-data="{{ c.pk }}"
                                class="btn btn-sm btn-outline-danger">Usuń</button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="7" class="text-center text-muted py-4">
                            <i class="fas fa-user-slash fa-2x mb-2"></i><br>
                            Brak kandydatów o podanych kryteriach
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Paginacja z zachowaniem wyszukiwania -->
<nav aria-label="pagination" class="mt-5 mb-3">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous() %}
        <li class="page-item"><a class="page-link" hx-get="{{ url('panel:partial_list_candidates') }}?page=1&{{ querystring }}" href="">&laquo;&laquo; </a></li>
        <li class="page-item"><a class="page-link"
                hx-get="{{ url('panel:partial_list_candidates') }}?page={{ page_obj.previous_page_number() }}&{{ querystring }}" href="">&laquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="">&laquo;&laquo; </a></li>
        <li class="page-item disabled"><a class="page-link" href="">&laquo;</a></li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="#" aria-current="page">{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next() %}
        <li class="page-item"><a class="page-link" hx-get="{{ url('panel:partial_list_candidates') }}?page={{ page_obj.next_page_number() }}&{{ querystring }}" href="">&raquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" hx-get="{{ url('panel:partial_list_candidates') }}?page={{ page_obj.paginator.num_pages }}&{{ querystring }}" href="">&raquo;&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="">&raquo;</a></li>
        <li class="page-item disabled"><a class="page-link" href="">&raquo;&raquo;</a></li>
        {% endif %}
    </ul>
</nav>