<div class="card mt-3 bg-black bg-opacity-25 border-gray shadow-lg">
    <div class="card-body p-0">
        <div class="table-responsive table-container">
            <table class="table table-dark table-striped table-hover mb-0 table-fixed">
                <colgroup>
                    <col style="width: 12%;">
                    <col style="width: 12%;">
                    <col style="width: 12%;">
                    <col style="width: 12%;">
                    <col style="width: 12%;">
                    <col style="width: 12%;">
                    <col style="width: 12%;">
                    <col style="width: 16%;">
                </colgroup>
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center align-middle">ID</th>
                        <th scope="col" class="text-center align-middle">Status</th>
                        <th scope="col" class="text-center align-middle">Okres głosowania</th>
                        <th scope="col" class="text-center align-middle">Utworzono</th>
                        <th scope="col" class="text-center align-middle">Edytowano</th>
                        <th scope="col" class="text-center align-middle">Głosy/użytkownik</th>
                        <th scope="col" class="text-center align-middle">Kandydaci</th>
                        <th scope="col" class="text-center align-middle">Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {% if page_obj %}
                    {% for v in page_obj %}
                    <tr id="tableRow{{ loop.index0 }}">
                        <td class="text-center align-middle">
                            <span>{{ v.id }}</span>
                        </td>
                        <td class="text-center align-middle">
                            {{ v.status }}
                        </td>
                        <td class="text-center align-middle">
                            <div class="small">
                                <strong>Od:</strong> {{ v.parse_planned_start().strftime('%Y-%m-%d %H:%M') }}<br>
                                <strong>Do:</strong> {{ v.parse_planned_end().strftime('%Y-%m-%d %H:%M') }}
                            </div>
                        </td>
                        <td class="text-center align-middle">
                            <span class="small">{{ v.parse_created_at().strftime('%Y-%m-%d %H:%M:%S') }}</span>
                        </td>
                        <td class="text-center align-middle">
                            <span class="small">
                            {{ v.parse_updated_at().strftime('%Y-%m-%d %H:%M:%S') }}
                            </span>
                        </td>
                        <td class="text-center align-middle">
                            <span class="">{{ v.votes_per_user }}</span>
                        </td>
                        <td class="text-center align-middle">
                            <span class="">{{ v.candidate_registrations.count() }}</span>
                        </td>
                        <td class="text-center align-middle">
                            <a href="{{ url('samorzad:get_voting_details', kwargs={'voting_id':v.pk}) }}" class="btn btn-sm btn-outline-eco-light-cyan">Podgląd</a>
                            <a href="{{ url('panel:update_voting', kwargs={'voting_id':v.pk}) }}"
                                class="btn btn-sm btn-outline-eco-light-cyan">Edytuj</a>
                            <button btn-type="delete" btn-data="{{ v.pk }}" btn-row="{{ loop.index0 }}"
                                class="btn btn-sm btn-outline-danger">Usuń</button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="8" class="text-center text-muted py-4">
                            <i class="fas fa-inbox fa-2x mb-2"></i><br>
                            Brak głosowań o podanych kryteriach 
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Paginacja z zachowaniem sortowania -->
<nav aria-label="pagination" class="mt-5 mb-3">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous() %}
        <li class="page-item"><a class="page-link"
                hx-get="{{ url('panel:partial_read_voting_list') }}?page=1&{{ querystring }}" href="">&laquo;&laquo; </a></li>
        <li class="page-item"><a class="page-link"
                hx-get="{{ url('panel:partial_read_voting_list') }}?page={{ page_obj.previous_page_number() }}&{{ querystring }}" href="">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="">&laquo;&laquo; </a></li>
        <li class="page-item disabled"><a class="page-link" href="">&laquo;</a></li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="#" aria-current="page">{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next() %}
        <li class="page-item"><a class="page-link"
                hx-get="{{ url('panel:partial_read_voting_list') }}?page={{ page_obj.next_page_number() }}&{{ querystring }}" href="">&raquo;</a>
        </li>
        <li class="page-item"><a class="page-link"
                hx-get="{{ url('panel:partial_read_voting_list') }}?page={{ page_obj.paginator.num_pages }}&{{querystring}}" href="">&raquo;&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="">&raquo;</a></li>
        <li class="page-item disabled"><a class="page-link" href="">&raquo;&raquo;</a></li>
        {% endif %}
    </ul>
</nav>