{% extends "samorzad/samorzad_base.html" %}
{% block title %}
    Samorząd - lista głosowań
{% endblock title %}
{% block body_navbar %}
    {{ render_navbar(csrf_input, current_page='samorząd') }}
{% endblock %}
{% block body_content %}
<main class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2 border-4 border-eco-light-cyan">
                <ul class="nav flex-row flex-md-column">
                    <li class="nav-item">
                        <a class="nav-link active link-eco-light-cyan" aria-current="page" href="#">Lista</a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link link-eco-light-cyan" href="#">Dodaj głosowanie</a>
                    </li>
                    <li class="nav-item dropdown d-block d-md-none">
                        <a class="nav-link link-eco-light-cyan dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Głosowania</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Dodaj głosowanie</a></li>
                            <li><a class="dropdown-item" href="#">Dodaj puste głosowanie</a></li>
                        </ul>
                    </li>
                    <hr class="d-none d-md-block m-2">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link link-eco-light-cyan" href="#">Dodaj kandydata</a>
                    </li>
                    <li class="nav-item dropdown d-block d-md-none">
                        <a class="nav-link link-eco-light-cyan dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Kandydaci</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Dodaj kandydata</a></li>
                            <li><a class="dropdown-item" href="#">Dodaj program wyborczy</a></li>
                            <li><a class="dropdown-item" href="#">Dodaj kandydature</a></li>
                        </ul>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link link-eco-light-cyan" href="#">Dodaj program wyborczy</a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link link-eco-light-cyan" href="#">Dodaj kandydature</a>
                    </li>
                    <hr class="m-2 d-none d-md-block">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link link-eco-light-cyan" href="#">Dodaj puste głosowanie</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-9 col-lg-10 bg-dark scrollable-column d-flex align-items-center flex-column">
                {% for v in page_obj %}
                    {% if v.planned_start <= now() and v.planned_end > now() %}
                        <div class="card mt-5 border border-eco-light-cyan border-2 bg-black bg-opacity-25">
                            <div class="card-header text-center">
                                <strong><span class="text-eco-light-cyan">Aktywne</span></strong>
                            </div>
                            <img src="{{ static('glosowanie.png') }}" class="card-img-top" alt="głosowanie">
                            <div class="card-body">
                                <h5 class="card-title">Głosowanie</h5>
                                <p class="card-text">Od {{v.parse_planned_start()}}<br/>Do {{v.parse_planned_end()}}</p>
                                <a href="#" class="btn btn-outline-eco-light-cyan stretched-link">Podgląd</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="card mt-5 bg-black bg-opacity-25">
                            <img src="{{ static('glosowanie.png') }}" class="card-img-top" alt="głosowanie"  style="filter: grayscale(100%);">
                            <div class="card-body">
                                <h5 class="card-title">Głosowanie</h5>
                                <p class="card-text">Od: {{v.parse_planned_start()}}<br/>Do: {{v.parse_planned_end()}}</p>
                                <a href="#" class="btn btn-outline-eco-light-cyan stretched-link">Podgląd</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <nav aria-label="pagination" class="mt-5">
                    <ul class="pagination">
                        {% if page_obj.has_previous() %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo;&laquo; </a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number() }}">&laquo;</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link">&laquo;&laquo; </a></li>
                        <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
                        {% endif %}
                        <li class="page-item active">
                        <a class="page-link" href="#" aria-current="page">{{ page_obj.number }}</a>
                        </li>
                        {% if page_obj.has_next() %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number() }}">&raquo;</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
                        <li class="page-item disabled"><a class="page-link">&raquo;&raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <div class="my-3 my-md-0"></div>
                <div class="my-5"></div>
            </div>
        </div>
    </main>
{% endblock body_content %}